body,a{
    margin: right;
    background-color: #2f2f2f;
    color: #e7e7e7;
}
img{
    width: 150px;
    height: 200px;
    margin: 25px;
    float: left;
    border-radius: 50%;
    border: 1px solid black;
}
a{
    text-align: right;
}